<div class="container-fluid">
    <div class="row">
        <!-- First Column -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body" >
                    <img src="{{Course.courseImage}}" class="card-img-top card-img">
                    <h3 class="card-title">{{Course.courseName}}</h3>
                    <h5 class="card-text">{{Course.courseDesc}}</h5>
                    <p class="card-text">Start date Time : {{Course.startTime|date: 'yyyy-MMM-dd HH:mm'}}<br>
                    End date Time : {{Course.endTime|date: 'yyyy-MMM-dd HH:mm'}}</p>
                    <div>
                        <input type="text" placeholder="Enter Email Id to Register" [(ngModel)]="email"/> 
                    </div>
                    <div>
                        <button class="btn btn-primary" (click)="Register(Course.courseId)">Register</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6" *ngIf="isValidUser">
            <table>
                <tr>
                    <td>Employee ID :</td>
                    <td>{{EmployeeData.EmployeeId}}</td>
                </tr>
                <tr>
                    <td>Employee Name :</td>
                    <td>{{EmployeeData.EmployeeName}}</td>
                </tr>
                <tr>
                    <td>Mobile Number :</td>
                    <td>{{EmployeeData.MobileNo}}</td>
                </tr>
                <tr>
                    <td>Email ID :</td>
                    <td>{{EmployeeData.EmailId}}</td>
                </tr>
                <tr>
                    <td>Employee Location :</td>
                    <td>{{EmployeeData.EmployeeLocation}}</td>
                </tr>
                <tr>
                    <td>Manager Name :</td>
                    <td>{{EmployeeData.ManagerName}}</td>
                </tr>
                <tr rowspan="2">
                    <td colspan="2">{{Regis_Status}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>